*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-color: white;
}

body {
    background-color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width:100%;
    min-width: 1000px;
    min-height: 1500px;
    background-color: white;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px;

}


.container .left {
    position: relative;
    background-color: rgb(32, 36, 37);
    width: 400px;
    padding: 40px;
    color: rgb(114, 106, 106);
    
}

.container .right {
    position: relative;
    background-color: white;
    padding: 40px;
    margin: 50px;
    color: rgb(114, 106, 106);
    
}

.rounded-image {
    border-radius: 50px;
  }

.profileText {
    position: relative;
    color:rgb(114, 106, 106);
}

h1 {
    background-color: rgb(32, 36, 37);
    width: 250px;
    -webkit-text-fill-color: rgb(114, 106, 106);
}

h2{
    background-color: rgb(32, 36, 37);
    width: 250px;
}

h3{
    background-color: white;
    width: 250px;
    -webkit-text-fill-color: rgb(114, 106, 106);
}
p{
    -webkit-text-fill-color: rgb(114, 106, 106);
}